{% extends "base.html" %}

{% block content %}
<body>
  <div class="container">
    <div class="rowst">
      <h2>Signup</h2>
      <p> Already signed up? <a href="/login">Login</a></p>
    </div>
    <form method="post">
      <div class="signing-table">
        <div class="sf-row">
          <div class="sf-cell label">
            Username
          </div>
          <div class="sf-cell">
            <input type="text" name="username" value="{{username}}">
          </div>
          <div class="sf-cell error"> {{error_username}}</div>
        </div>

        <div class="sf-row">
          <div class="sf-cell label">
            Password
          </div>
          <div class="sf-cell">
            <input type="password" name="password" value="">
          </div>
          <div class="sf-cell error"> {{error_password}}</div>
        </div>

        <div class="sf-row">
          <div class="sf-cell label">
            Verify Password
          </div>
          <div class="sf-cell">
            <input type="password" name="verify" value="">
          </div>
          <div class="sf-cell error"> {{error_verify}}</div>
        </div>

        <div class="sf-row">
          <div class="sf-cell label">
            Email (optional)
          </div>
          <div class="sf-cell">
            <input type="text" name="email" value="{{email}}">
          </div>
          <div class="sf-cell error"> {{error_email}}</div>
        </div>
      </div>
      <div class="col-12" id="signing">
        <input type="submit" value="Signup" id="signing">
      </div>
    </form>
  </div>
</body>
{% endblock %}
